.banner {
  width: 100vw;
  height: 100vh;
  background-color: #F3D9DC;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 5% 0 5%;
}

.banner .text {
  max-width: 38vw;
}

.banner .text .name {
  margin-top: 5%;
  font-size: 3em;
  font-weight: bold;
  color: #8E3B46;
}

.banner .text .code {
  font-family: monospace;
  color: #808080;
}

.banner .text .icons {
  margin-top: 15%;
  display: flex;
  width: 45%;
  justify-content: space-between;
}

.banner .text .icons .icon {
  height: 2.5vw;
  width: 2.5vw;
  color: #8E3B46;
}

.banner .text .icons .icon:hover {
  color: black;
  cursor: pointer;
}

.banner img {
  width: 25vw;
  border-radius: 50%;
  margin: 0 0% 0 4%;
}

.banner #chevrons {
  color: #8E3B46;
  position: absolute;
  bottom: 4vh;
  animation: bounce 2s ease infinite;
}

.banner #chevrons:hover {
  cursor: pointer;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width : 1000px) {
  .banner .text {
    max-width: 60vw;
    margin: 0 5% 0 5%;
  }

  .banner .text .name {
    font-size: 2.5em;
  }

  .banner .text .icons .icon {
    height: 3vw;
    width: 3vw;
  }

  .banner img {
    width: 30vw;
  }
}

@media only screen and (max-width : 800px) {
  .banner {
    font-size: 1.5em;
    flex-direction: column-reverse;
    text-align: center;
  }

  .banner .text {
    padding-top: 5vh;
    max-width: 80vw;
  }

  .banner .text .name {
    font-size: 1.75em;
  }

  .banner .text .icons {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .banner .text .icons .icon {
    height: 4vw;
    width: 4vw;
  }

  .banner img {
    width: 38vw;
    margin: 0;
  }

  .banner #chevrons {
    bottom: 2vh;
  }
}

@media only screen and (max-width : 500px) {
  .banner .text {
    max-width: 100vw;
  }

  .banner .text .name {
    font-size: 1.75em;
  }

  .banner .text .icons .icon {
    height: 6vw;
    width: 6vw;
  }

  .banner img {
    width: 45vw;
  }
}

@media only screen and (max-height : 600px) {
  .banner #chevrons {
    display: none;
  }
}