.ant-card-hoverable:hover {
  cursor: default;
}

.projects {
  display: flex;
  width: 55vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  padding-bottom: 10vh;
}

.projects .title {
  margin: 5% 0 8% 0;
  font-size: 2em;
  font-weight: bold;
}

.projects .project-grid {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects .card {
  width: 20vw;
  margin-bottom: 20px;
}

.projects .card .splash {
  width: 100%;
}

.projects .card .title-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 10px;
}

.projects .card .project-name {
  font-weight: bold;
  font-size: 1.1em;
}

.projects .card .award {
  font-size: 0.8em;
  background-color: #8E3B46;
  color: white;
  padding: 1px 4px;
  border-radius: 5px;
}

.projects .card .description {
  min-height: 20vh;
  font-size: 1.1em;
}

.projects .card .tools {
  font-weight: bold;
}

.projects a:hover {
  color: #8E3B46 !important;
}

@media only screen and (max-width : 1300px) {
  .projects {
    width: 80vw;
  }

  .projects .card {
    width: 38vw;
  }
}

@media only screen and (max-width : 850px) {
  .projects .card {
    width: 50vw;
  }

  .projects .card .title-block {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media only screen and (max-width : 600px) {
  .projects .card {
    width: 80vw;
  }

  .projects .card .title-block {
    flex-direction: column;
    align-items: flex-start;
  }
}