.work {
  display: flex;
  width: 45vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

.work .title {
  margin: 5% 0 8% 0;
  font-size: 2em;
  font-weight: bold;
}

.work .work-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.work .resume-skills {
  padding: 0 0 20vh 10vw;
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.work .resume-skills .resume-button {
  padding: 2px 30px;
  margin-bottom: 30%;
  text-align: center;
  line-height: 2.0;
  border: 1px solid #000000;
  color: #000000;
  font-size: 1.5em;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  font-weight: bold;
}
  
.work .resume-skills .resume-button:hover {
  cursor: pointer;
  color: #8E3B46;
  border: 1px solid #8E3B46;
}

.work .resume-skills .subtitle {
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 1.15em;
}

.work .resume-skills .skills {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 4% 0 8% 0;
}

.work .resume-skills .skills .skill {
  font-size: 1.1em;
  margin: 1%;
}

.work .timeline {
  font-family: 'Roboto';
  width: 30vw;
}

.work ul {
  padding: 0 0 0 20px;
}

.work .icon {
  padding: 0;
  margin: 0;
  width: 50px;
  border-radius: 50%;
}

.work .company {
  font-size: 1.35em;
  font-weight: bold;
}

.work .description {
  text-align: left;
  font-size: 1.1em;
  margin-left: 30px;
  color: black;
}

.ant-timeline-item-content {
  top: -20px
}

.work .description .role {
  font-size: 1.25em;
}

@media only screen and (max-width : 1000px) {
  .work {
    width: 75vw;
  }

  .work .work-block {
    width: 100%;
  }

  .work .resume-skills {
    padding: 0 0 20vh 10vw;
    width: 35vw;
  }

  .work .company {
    font-size: 1.25em;
  }

  .work .timeline {
    width: 45vw;
  }
}

@media only screen and (max-width : 775px) {
  .work {
    width: 100vw;
  }

  .work .title {
    margin: 5% 0 5% 0;
  }

  .work .work-block {
    flex-direction: column-reverse;
  }

  .work .resume-skills .resume-button {
    padding: 2px 30px;
    margin-bottom: 5vh;
    align-self: center;
  }

  .work .resume-skills {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 0 8vh 0;
    width: 70vw;
    height: auto;
  }

  .work .resume-skills .skill-block {
    width: 100%;
  }

  .work .resume-skills .subtitle {
    font-size: 1.25em;
  }

  .work .resume-skills .skills {
    padding: 2% 0 2% 0;
  }

  .work .resume-skills .skills .skill {
    font-size: 1.1em;
    margin-left: 0;
  }

  .work .timeline {
    width: 70vw;
  }
}

@media only screen and (max-width : 500px) {
  .work .resume-skills {
    width: 80vw;
  }

  .work .timeline {
    width: 80vw;
  }

  .work .company {
    font-size: 1.25em;
  }

  .work .role {
    font-size: 0.8em;
  }

  .work .description {
    font-size: 0.9em;
  }
}