.work {
  display: flex;
  width: 45vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

.work .title {
  margin: 8% 0 8% 0;
  font-size: 2.5em;
  font-weight: bold;
}

.work .experience-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 5vw;
}

.work .resume-skills {
  padding: 0 0 15vh 10vw;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.work .resume-skills .resume-button {
  padding: 2px 30px;
  margin-bottom: 30%;
  text-align: center;
  line-height: 2.0;
  border: 1px solid #000000;
  color: #000000;
  font-size: 1.5em;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  font-weight: bold;
}
  
.work .resume-skills .resume-button:hover {
  cursor: pointer;
  color: #8E3B46;
  border: 1px solid #8E3B46;
}

.work .resume-skills .subtitle {
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 1.4em;
}

.work .resume-skills .skills {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 4% 0 8% 0;
}

.work .resume-skills .skills .skill {
  font-size: 1.3em;
  margin: 1%;
  padding: 2%;
}

.work .timeline {
  font-family: 'Roboto';
  width: 35vw;
  align-self: flex-start;
}

.work .work-item {
  margin-bottom: 20px;
}

.work .work-item .panel .header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 5px;
}

.work .work-item .panel .header .heading {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.work .work-item .panel .header .icon {
  padding: 0;
  margin: 0;
  width: 70px;
  border-radius: 50%;
}

.work .work-item .panel .header .company {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 10px;
}

.work .work-item .panel .header .info {
  font-size: 1.3em;
}

.work .work-item .panel .description {
  font-size: 1.2em;
  padding: 4px;
}


@media only screen and (max-width : 1000px) {
  .work {
    width: 75vw;
  }

  .work .experience-block {
    width: 100%;
  }

  .work .resume-skills {
    padding: 0 0 20vh 10vw;
    width: 35vw;
  }

  .work .resume-skills .skills .skill {
    font-size: 1.1em;
  }

  .work .company {
    font-size: 1.25em;
  }

  .work .timeline {
    width: 45vw;
  }

  .work .work-item .panel .header .company {
    font-size: 1.25em;
  }

  .work .work-item .panel .header .info {
    font-size: 1.15em;
  }

  .work .work-item .panel .description {
    font-size: 1.15em;
  }

  .work .work-item .panel .header {
    padding: 8px 10px;
  }
}

@media only screen and (max-width : 775px) {
  .work {
    width: 100vw;
  }

  .work .title {
    margin: 5% 0 5% 0;
  }

  .work .experience-block {
    flex-direction: column-reverse;
  }

  .work .resume-skills .resume-button {
    padding: 2px 30px;
    margin-bottom: 5vh;
    align-self: center;
  }

  .work .resume-skills {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 0 8vh 0;
    width: 70vw;
    height: auto;
  }

  .work .resume-skills .skill-block {
    width: 100%;
  }

  .work .resume-skills .subtitle {
    font-size: 1.25em;
  }

  .work .resume-skills .skills {
    padding: 2% 0 2% 0;
  }

  .work .resume-skills .skills .skill {
    font-size: 1.15em;
    margin-left: 0;
  }

  .work .timeline {
    width: 70vw;
    align-self: center; 
  }

  .work .work-item .panel .header .icon {
    width: 45px;
  }

  .work .work-item .panel .header {
    padding: 5px 10px;
  }
}

@media only screen and (max-width : 500px) {
  .work .resume-skills {
    width: 80vw;
  }

  .work .timeline {
    width: 80vw;
  }

  .work .work-item .panel .header .company {
    font-size: 1.2em;
  }

  .work .work-item .panel .header .info {
    font-size: 1.1em;
  }

  .work .work-item .panel .description {
    font-size: 1.1em;
  }
}